{
	"presets": [
		[
			"@babel/preset-env",
			{
				// "debug":true,
				// "useBuiltIns":"usage",
				// "targets":{
				//     "browsers":[
				//         "> 0.25%",
				//         "last 2 versions",
				//         "not dead",
				//         "maintained node versions"
				//     ]
				// }
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		"@babel/plugin-proposal-class-properties"
	]
}
