{
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier", "promise"],
	"parser": "babel-eslint",
	"rules": {
		"prettier/prettier": "off",
		"no-unused-vars": "warn",
		"no-console": "off",
		"func-names": "off",
		"no-process-exit": "off",
		"class-methods-use-this": "off",
		"no-unneeded-ternary": "off",
		"no-underscore-dangle": "off",
		"no-param-reassign": "off",
		"prefer-const": "off",
		"camelcase": "off",
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"no-restricted-syntax": "off",
		"react/jsx-indent": "off",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/jsx-one-expression-per-line": "off",
		"react/state-in-constructor": "off",
		"react/jsx-props-no-spreading": "off",
		"react/jsx-indent-props": "off",
		"react/destructuring-assignment": "off",
		"jsx-a11y/label-has-associated-control": "off",
		"react/jsx-curly-newline": "off",
		"react/jsx-closing-bracket-location": "off",
		"react/prop-types": "off" // TODO: turn on this feature
	},
	"env": { "es6": true },
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020
	}
}
