.container {
    margin: 0 auto;
    padding: 10rem;
}

.errorBox {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;


}

.errorBox li {
    background: rgba(255, 0, 63, 0.5);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    color: white;
    text-shadow: 1px 1px 3px black;
}